body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    overflow: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body h2 {
    text-align: center;
}

.container {
    margin: 0 7px;;
}

header {
    background-color: #dad684;
    padding: 10px;
    text-align: center;
    position: relative;
}

header img {
    height: 50px;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0 20px 0;
    gap: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    background-color: #d39c1c;
    padding: 10px 20px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #b04721;
    color: white;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding-bottom: 1em;
    background-color: #dad684;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #d39c1c;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #b04721;
    color: white;
}

#theme-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

body:not(.dark-mode) #theme-toggle {
    background-color: #bab775;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body:not(.dark-mode) #theme-toggle:hover {
    background-color: #ccc87f;
}

#offer-banner {
    background-color: #f4e2d1;
    color: #333;
    text-align: center;
    padding: 15px;
    margin: 0 0 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#offer-banner h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #b04721;
}

#offer-banner p {
    margin: 5px 0;
    font-size: 18px;
}

#countdown {
    font-size: 20px;
    font-weight: bold;
    color: #d39c1c;
}

body:not(.dark-mode) #offer-banner {
    background-color: #f4e2d1;
    color: #333;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
    max-width: 800px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-slide {
    display: none;
    width: 100%;
    height: auto;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
